/* ------------------
* BACKGROUND STYLING
------------------- */ 

#background-home {
  background: #FFFFFF;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 8vw;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ------------------
* NAVBAR STYLING
------------------- */ 
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kanit&display=swap');

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #FFFFFF;
  position: relative;
}

.nav-elements {
}
.nav-elements ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav-elements ul li:not(:last-child) {
  margin-right: 340px;
}
.nav-elements ul a {
  text-decoration: none;
}

.buttons {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  bottom: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /*///////////////////////*/
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  color: #902D41;
  position: relative;
  letter-spacing: 0.1em;
}
.buttons::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #902D41;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.buttons:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.remove-underline {
  text-decoration: none;
}
.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    position: absolute;
    right: 1vw;
    top: 0.7vh;
    display: block;
    cursor: pointer;
    color: #902D41;
  }

  .navbar {
    height: 70px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 270px;
    background-size: 201% 100%;
    transition: background-position 0.3s ease-in;
    background-image: linear-gradient(to left, #e3cece 50%, white 50%);
  }
  .navbar.active {
    position: absolute;
    background-position: +100% 0%;
    right: 0;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #e3cece;
    width: 0px;
    height: calc(100vh);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }
  .nav-elements.active {
    width: 270px;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }
  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

  .buttons::after {
    content: '';
    position: absolute;
    width: 110px;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #902D41;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

/* ------------------
* HOME STYLING
------------------- */ 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.home-square {
  position: relative;
  width: 100vw;
  top: 10px;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.text-square {
  width: 50vw;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: #902D41;
  position: relative;
  letter-spacing: 0.1em;
  padding: 20px;
}

.icon-square {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #902D41;
}

.image-square {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 5px solid #902D41;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
  margin-bottom: 100px;
}

.resize {
  height: 600px;
}

/* ------------------
* SCROLLBAR STYLING
------------------- */
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ffffff; /* Track */
}
::-webkit-scrollbar-thumb {
  background: rgba(144,45,65, 0.959); /* Handle */
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(190, 76, 99, 0.911); /* Handle on hover */
  border-radius: 12px;
}

/* ------------------
* RESUME STYLING
------------------- */
.resume-square {
  position: relative;
  width: 70vw;
  top: 30px;
  height: 100vh;

  font-family: "Ubuntu", sans-serif;
  text-align: left;
  margin-left: 3vw;
}

.list-tab {
  margin-left: 2vw;
}

/* ------------------
* PROJECTS STYLING
------------------- */
.projects-square {
  display: flex;
  gap: 20px 40px;
  width: 100vw;
  height: 100vh;
  margin-top: 5vh;
  justify-content: center;
}

.project-section {
  width: 30vw;
  height: 90vh;
  background-color: (#cfc4c4, 0.5);
  transition: width 1s, height 1s;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-section:hover {
  width: 32vw;
  height: 92vh;
}

.projects-font {
  font-family: "Ubuntu", sans-serif;
}

.project-buttons {
  background-color: #ba576b;
  border-width: 0px;
  height: 5vh;
  width: 8vw;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  color: #FFFFFF;
  transition: 1s;
}
.project-buttons:hover {
  background-color: #9b4959;
}