/* ------------------
* BACKGROUND STYLING
------------------- */ 

#background-home {
  background: #FFFFFF;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 8vw;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ------------------
* NAVBAR STYLING
------------------- */ 
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kanit&display=swap');

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #FFFFFF;
  position: relative;
}

.nav-elements {
}
.nav-elements ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav-elements ul li:not(:last-child) {
  margin-right: 340px;
}
.nav-elements ul a {
  text-decoration: none;
}

.buttons {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  bottom: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /*///////////////////////*/
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  color: #902D41;
  position: relative;
  letter-spacing: 0.1em;
}
.buttons::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #902D41;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.buttons:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.remove-underline {
  text-decoration: none;
}


/* ------------------
* HOME STYLING
------------------- */ 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.home-square {
  position: relative;
  width: 100vw;
  top: 10px;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.text-square {
  width: 50vw;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: #902D41;
  position: relative;
  letter-spacing: 0.1em;
  padding: 20px;
}

.icon-square {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #902D41;
}

.image-square {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 5px solid #902D41;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
  margin-bottom: 100px;
}

.resize {
  height: 600px;
}

/* ------------------
* SCROLLBAR STYLING
------------------- */
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ffffff; /* Track */
}
::-webkit-scrollbar-thumb {
  background: rgba(144,45,65, 0.959); /* Handle */
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(190, 76, 99, 0.911); /* Handle on hover */
  border-radius: 12px;
}

/* ------------------
* RESUME STYLING
------------------- */
.resume-square {
  position: relative;
  width: 70vw;
  top: 30px;
  height: 100vh;

  font-family: "Ubuntu", sans-serif;
  text-align: left;
  margin-left: 3vw;
}

.list-tab {
  margin-left: 2vw;
}

/* ------------------
* PROJECTS STYLING
------------------- */
.projects-square {
  display: flex;
  gap: 20px 40px;
  width: 100vw;
  height: 100vh;
  margin-top: 5vh;
  justify-content: center;
}

.project-section {
  width: 30vw;
  height: 90vh;
  background-color: (#cfc4c4, 0.5);
  transition: width 1s, height 1s;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-section:hover {
  width: 32vw;
  height: 92vh;
}

.projects-font {
  font-family: "Ubuntu", sans-serif;
}

.project-buttons {
  background-color: #ba576b;
  border-width: 0px;
  height: 5vh;
  width: 8vw;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  color: #FFFFFF;
  transition: 1s;
}
.project-buttons:hover {
  background-color: #9b4959;
}

/* ------------------
* LOADING STYLING
------------------- */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #902D41;
  border-color: #902D41 transparent #902D41 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ----------------------
* MOBILE NAVBAR STYLING
------------------------ */
.menu-icon {
  position: fixed;
  height: 20px;
  width: 20px;
  right: 1vw;
  top: 0.7vh;
  color: #902D41;
}

.mobile-navbar {
  position: fixed;
  width: 0px;
  top: 0;
  right: 0;
  height: 100vh;
  transition: 0.3s ease-in;
  background-color: #e3cece;
  z-index: 1;
}
.mobile-navbar.active {
  width: 270px;
}

.buttons-wrapper {
  position: relative;
  width: 0px;
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
  margin-top: 100px;
  margin-left: 20px;
}
.buttons-wrapper.active {
  width: 250px;
}


/* ------------------
* HOME MOBILE STYLING
------------------- */ 
.homemob-square {
  position: relative;
  width: 100vw;
  top: 10vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.textmob-square {
  width: 100vw;
  height: 50vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 4.5vh;
  color: #902D41;
  letter-spacing: 0.1em;
  padding: 1vw;
}

.icon-square {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
  justify-content: center;
  font-size: 7vh;
  color: #902D41;
}

.image-square {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 5px solid #902D41;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.resizemob {
  height: 400px;
}

/* ----------------------
* PROJECTS MOBILE STYLING
------------------------ */ 
.projectsmob-square {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100vw;
  height: 100vh;
  margin-top: 3vh;
  justify-content: center;
  align-items: center;
}

.projectmob-section {
  width: 90vw;
  height: 95vh;
  background-color: #fed7d7;
  transition: width 1s, height 1s;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-font {
  font-family: "Ubuntu", sans-serif;
}

.project-buttons {
  background-color: #ba576b;
  border-width: 0px;
  height: 7vh;
  width: 25vw;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  color: #FFFFFF;
  transition: 1s;
}
.project-buttons:hover {
  background-color: #9b4959;
  height: 8vh;
  width: 26vw;
}